body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}



.principal{
    position: relative;
    display: flex;
    justify-content: center;
}


.post{
width: 450px;
height: 650px;
border: 1px solid black;
background-color: white;
position: absolute;
margin-top: 2%;




}
img{
    width: 100%;
    height: 400px;
}

.post-header{
    display: flex;
    justify-content: flex-start;
    margin: 0px auto;
    




}

#rightone{
    margin-left: 300px;
    margin-top: 20px;
}

#leftone{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 5px;
}

#righttwo{
  margin-left:290px ;

}

#heart{
    margin-left: 10px;
}

p{
 margin: 10px;
 text-align: justify; 
}
